<app-pop-up
  [error]="errorMessage"
  *ngIf="errorMessage"
  (close)="errorMessage = null"
></app-pop-up>
<div class="toaster" *ngIf="successMessage">{{ successMessage }}</div>
<div *ngIf="loading">
  <span class="loading-spinner"></span>
</div>
<div class="container">
  <div class="wrapper">
    <h1>Reset Password Form</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="input-div">
        <input
          type="password"
          formControlName="password"
          placeholder="Enter new password"
        />
        <span
          class="error"
          *ngIf="resetPasswordForm.controls.password.errors?.['required'] && resetPasswordForm.controls.password.touched"
          >password is required</span
        >
        <span
          class="error"
          *ngIf="resetPasswordForm.controls.password.errors?.['pattern'] && resetPasswordForm.controls.password.touched"
          >Password should contain uppercase,lowercase letters,numbers and
          special characters and it should be 8-10 character long</span
        >
      </div>
      <div class="input-div">
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="confirm new password"
        />
        <span
          class="error"
          *ngIf="resetPasswordForm.controls.confirmPassword.errors?.['required'] && resetPasswordForm.controls.confirmPassword.touched"
          >confirm password is required</span
        >
        <span
          class="error"
          *ngIf="resetPasswordForm.controls.confirmPassword.errors?.['pattern'] && resetPasswordForm.controls.confirmPassword.touched"
          >Password should contain uppercase,lowercase letters,numbers and
          special characters and it should be 8-10 character long</span
        >
        <span
          class="error"
          *ngIf="resetPasswordForm.errors?.['passwordMismatchErr'] && resetPasswordForm.controls.confirmPassword.touched"
          >Incorrect password</span
        >
      </div>
      <div style="display: flex; align-content: space-between">
        <button
          type="submit"
          [ngClass]="resetPasswordForm.valid ? 'btn-field' : 'disabled-btn'"
          [disabled]="!resetPasswordForm.valid"
        >
          Submit
        </button>
        <button type="button" class="btn-field" (click)="onClear()">
          Clear
        </button>
      </div>
    </form>
  </div>
</div>
