<div class="container">
  <app-pop-up [error]="error" *ngIf="error" (close)="error = null"></app-pop-up>
  <div class="toaster" *ngIf="successMessage">{{ successMessage }}</div>
  <div class="content-wrapper">
    <div>
      <img class="wrapper-img" src="../../assets/img2.jpg" />
    </div>

    <div class="div-wrapper">
      <h1>Sign-Up</h1>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="wrapper">
          <input
            type="text"
            placeholder="enter username"
            formControlName="username"
            required
          />
          <span
            class="error"
            *ngIf="registerFormControls.username.errors?.['required'] && registerFormControls.username.touched"
            >username is required</span
          >
        </div>

        <div class="wrapper">
          <input
            type="email"
            placeholder="enter email"
            formControlName="email"
            required
          />
          <span
            class="error"
            *ngIf="registerFormControls.email.errors?.['required'] && registerFormControls.email.touched"
            >email is required</span
          >
          <span
            class="error"
            *ngIf="registerFormControls.email.errors?.['email'] && registerFormControls.email.touched"
            >enter valid email id</span
          >
          <span class="error">{{ this.error }}</span>
        </div>

        <div class="wrapper">
          <input
            type="password"
            placeholder="enter password"
            formControlName="password"
            required
          />
          <span
            class="error"
            *ngIf="registerFormControls.password.errors?.['required'] && registerFormControls.password.touched"
            >password is required</span
          >
          <span
            class="error"
            *ngIf="registerFormControls.password.errors?.['pattern'] && registerFormControls.password.touched"
            >Password should contain uppercase,lowercase letters,numbers and
            special characters and it should be 8-10 character long</span
          >
        </div>

        <div class="wrapper">
          <input
            type="password"
            placeholder="enter confirm password"
            formControlName="confirmPassword"
            required
          />
          <span
            class="error"
            *ngIf="registerFormControls.confirmPassword.errors?.['required'] && registerFormControls.confirmPassword.touched"
            >password is required</span
          >
          <span
            class="error"
            *ngIf="registerFormControls.confirmPassword.errors?.['pattern'] && registerFormControls.confirmPassword.touched"
            >Password should contain uppercase,lowercase letters,numbers and
            special characters and it should be 8-10 character long</span
          >
          <span
            class="error"
            *ngIf="signupForm.errors?.['passwordMismatchErr'] && registerFormControls.confirmPassword.touched"
            >Incorrect password</span
          >
        </div>

        <button
          [ngClass]="signupForm.valid ? 'btn-field' : 'disabled-btn'"
          type="submit"
          [disabled]="!signupForm.valid"
        >
          sign-up
        </button>
        <div style="margin-top: 15px">
          Already have an account? <a routerLink="/">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
