<div class="container">
    <div class="wrapper">
        <h1>Forget Password</h1>
        <span>Enter your Email to reset the password</span>
    <app-pop-up [successMessage]="mailSentMessage.message" *ngIf="mailSentMessage" (close)="onClose()"></app-pop-up>
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" style="display: flex;flex-direction: column; ">
                <div style="display: flex;margin: 10px auto;">
                <label>Email :</label>
                <input type="email" placeholder="enter email" formControlName="email" style="margin-left: 10px; width: 60%;"/>
            </div>
            <span *ngIf="forgetPasswordForm.controls.email.errors?.['required'] && forgetPasswordForm.controls.email.touched" style="color: red;">Email field is required</span>
            <span *ngIf="forgetPasswordForm.controls.email.errors?.['email'] && forgetPasswordForm.controls.email.touched" style="color: red;">Please enter valid email</span>
            <span *ngIf="forgetPasswordForm.controls.email.errors && forgetPasswordForm.controls.email.touched" style="color:red">{{invalidEmailError}}</span>
            
            <div style="display: flex; align-content: space-between;">
            <button type="submit" [ngClass]="!forgetPasswordForm.valid?'disabled-btn':'btn-field'" [disabled]="!forgetPasswordForm.valid">Submit</button>
            <button type="button" class="btn-field" (click)="onCancel()">Cancel</button>
        </div>
        </form>
    </div>
</div>